@import "tailwindcss";



body {

  font-family: Arial, Helvetica, sans-serif;
}
@font-face {
  font-family: 'NewAmsterdam';
  src: url('../public/Fonts/Mulish-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'NewAmsterdam', sans-serif;
}

@keyframes rise {
  0% {
    transform: translateY(0);
    opacity: 0.2;
  }
  100% {
    transform: translateY(-400px);
    opacity: 0;
  }
}
